body { background: Black;
    color: darkgray;
    font-size: 14pt; }

h1 {font-size; 42;
    color: red }

h2 {font-size; 42;
    color: yellow}
h3 {font-size; 42;
    color: orangered}

h4 {font-size; 42;
    color: aqua}